<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
</head>
<body>
    <table>
        <tr>
            <th>Gender</th>
            <th>Height(cm)</th>
            <th>Weight(Kg)</th>
            <th>BMI</th>
            <th>Category</th>
            <th>Risk</th>
        </tr>
        <% for(var i=0; i< data.length; i++){ %>
            <tr>
                <td><%= data[i].gender %></td>
                <td><%= data[i].height %></td>
                <td><%= data[i].weight %></td>
                <td><%= data[i].bmi %></td>
                <td><%= data[i].category %></td>
                <td><%= data[i].risk %></td>
            </tr>
            
        <% } %>
    </table>
    <% if(number<=1) { %>
        <h3>There is <%= number %> overweight person</h3>
    <% } else { %>
        <h3>There are <%= number %> overweight persons</h3>
    <% } %>
    
</body>
</html>